@import "tailwindcss";

@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--slate-1);
    color: var(--slate-12);
}

@keyframes bounce-sprite {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.search-input {
    &:focus-within {
        outline: 2px solid var(--mantine-color-grape-filled);
        border-color: transparent;
    }
}
